@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

:root {
  --envelope-color: white;
  --envelope-transition-duration: 1s;
  --envelope-max-width: 90vw;
  --envelope-max-height: 60vh;

  --envelope-message-color: black;
  --envelope-message-font-size: 3em;
}

html,
body,
.envelope-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(255, 132, 212);
  font-family: "Titan One", cursive;
  color: white;
  font-variant: small-caps;
}

/*****************************************************************************\
 *                               ENVELOPE                                    *
\*****************************************************************************/

.envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope {
  --aspect-ratio: 5 / 3;
  --width: min(
    var(--envelope-max-width),
    calc(var(--envelope-max-height) * var(--aspect-ratio))
  );
  width: var(--width);
  aspect-ratio: var(--aspect-ratio);

  perspective: calc(3 * var(--width));
  position: relative;
  cursor: pointer;

  transform: translateY(100px);
}

/**
 * Envelope parts
 */
.envelope-part,
.envelope-part-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.envelope-part,
.envelope {
  background: var(--envelope-color);
}

.envelope-top {
  /* Firefox has a bug where while rotating it shows
     a thin white border in the clipped out part.
     This fixes it.
     https://stackoverflow.com/a/34715027/2359289
   */
  outline: 1px solid transparent;

  clip-path: url(#envelope-top-path);
}
.envelope-top-backface {
  outline: 1px solid transparent;
  clip-path: url(#envelope-top-rotated-path);
}
.envelope-bottom {
  clip-path: url(#envelope-bottom-path);
}
.envelope-left {
  clip-path: url(#envelope-left-path);
}
.envelope-right {
  clip-path: url(#envelope-right-path);
}

/**
  * Envelope Shadows
  */
.envelope-container,
.envelope-container-static,
.envelope-container-bottom,
.envelope-container-top {
  filter: drop-shadow(0px 0px var(--shadow-size) rgba(50, 50, 0, 0.5));
}
.envelope-container {
  --shadow-size: 10px;
}
.envelope-container-static {
  --shadow-size: 2px;
  z-index: 3;
}
.envelope-container-bottom {
  --shadow-size: 1px;
}
.envelope-container-top {
  --shadow-size: 4px;
  z-index: 4;
}

.letter {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  z-index: 2;

  background: orange;

  filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));
}

/**
 * Open Envelope
 */
.envelope.open .envelope-container-top {
  --shadow-size: 0.5px;
  z-index: 1;
  transform: rotateX(180deg);
}

.envelope-top {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.envelope-container-top {
  transform-origin: top center;

  transition: transform var(--envelope-transition-duration),
    filter var(--envelope-transition-duration),
    z-index var(--envelope-transition-duration) step-start
      calc(var(--envelope-transition-duration) / 3);
}

.envelope-top-backface {
  transform: rotateX(180deg) translateY(1px);
}

/**
 * Message
 */

.envelope-top,
.envelope-top-backface {
  color: var(--envelope-message-color);
  font-size: var(--envelope-message-font-size);
  text-align: center;
}

/*****************************************************************************\
 *                                LETTER                                     *
\*****************************************************************************/

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.congrats-message {
  text-align: center;
  font-size: 5em;
}

.gay {
  font-size: 3em;
  line-height: 0.7em;

  --background-square-size: 3em;
  /* generated by ./scripts/build-gradieng-45deg-square.js */
  background-image: linear-gradient(
    45deg,
    rgba(47, 201, 226, 1) 0%,
    rgba(28, 127, 238, 1) 5%,
    rgba(95, 21, 242, 1) 10%,
    rgba(186, 12, 248, 1) 15%,
    rgba(251, 7, 217, 1) 20%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 154, 0, 1) 30%,
    rgba(208, 222, 33, 1) 35%,
    rgba(79, 220, 74, 1) 40%,
    rgba(63, 218, 216, 1) 45%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 55%,
    rgba(95, 21, 242, 1) 60%,
    rgba(186, 12, 248, 1) 65%,
    rgba(251, 7, 217, 1) 70%,
    rgba(255, 0, 0, 1) 75%,
    rgba(255, 154, 0, 1) 80%,
    rgba(208, 222, 33, 1) 85%,
    rgba(79, 220, 74, 1) 90%,
    rgba(63, 218, 216, 1) 95%,
    rgba(47, 201, 226, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: var(--background-square-size) var(--background-square-size);

  animation: 3s infinite linear slide-background;
}

@keyframes slide-background {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: var(--background-square-size) 0;
  }
}
