@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

:root {
  --envelope-color: white;
  --envelope-transition-duration: 1s;
  --envelope-max-width: 90vw;
  --envelope-max-height: 60vh;

  --envelope-aspect-ratio: 5 / 3;
  --envelope-width: min(
    var(--envelope-max-width),
    calc(var(--envelope-max-height) * var(--envelope-aspect-ratio))
  );

  --font-size: calc(var(--envelope-width) / 20);
  font-size: var(--font-size);

  --envelope-message-color: black;
  --envelope-message-font-size: 2rem;

  --letter-color: rgb(255, 245, 217);
  --letter-text-color: black;

  --letter-transition-up-duration: 1s;
  --letter-transition-up-delay: calc(
    var(--letter-transition-up-duration) * 0.3
  );

  --letter-transition-unfold-duration: 1s;
  --letter-transition-unfold-delay: calc(
    var(--letter-transition-up-delay) + var(--letter-transition-up-duration)
  );

  --letter-transition-down-delay: calc(
    var(--letter-transition-unfold-duration) * 0.3
  );

  --envelope-transition-close-delay: calc(
    var(--letter-transition-down-delay) + var(--letter-transition-up-duration) *
      0.7
  );
}

html,
body,
.envelope-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(255, 132, 212);
  font-family: "Titan One", cursive;
  color: white;
  font-variant: small-caps;
}

/*****************************************************************************\
 *                               ENVELOPE                                    *
\*****************************************************************************/

.envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope {
  width: var(--envelope-width);
  aspect-ratio: var(--envelope-aspect-ratio);
  position: relative;

  cursor: pointer;

  --perspective: calc(4 * var(--envelope-width));
  perspective: var(--perspective);

  --envelope-translate-y: 20%;
  transform: translateY(var(--envelope-translate-y));
}

/**
 * Envelope parts
 */
.envelope-part,
.envelope-part-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.envelope-part,
.envelope {
  background: var(--envelope-color);
}

.envelope-top {
  /* Firefox has a bug where while rotating it shows
     a thin white border in the clipped out part.
     This fixes it.
     https://stackoverflow.com/a/34715027/2359289
   */
  outline: 1px solid transparent;

  clip-path: url(#envelope-top-path);
}
.envelope-top-backface {
  outline: 1px solid transparent;
  clip-path: url(#envelope-top-rotated-path);
}
.envelope-bottom {
  clip-path: url(#envelope-bottom-path);
}
.envelope-left {
  clip-path: url(#envelope-left-path);
}
.envelope-right {
  clip-path: url(#envelope-right-path);
}

/**
  * Envelope Shadows
  */
.envelope-container,
.envelope-container-static,
.envelope-container-bottom,
.envelope-container-top {
  filter: drop-shadow(0px 0px var(--shadow-size) rgba(50, 50, 0, 0.5));
}
.envelope-container {
  --shadow-size: 10px;
}
.envelope-container-static {
  --shadow-size: 2px;
  z-index: 3;
}
.envelope-container-bottom {
  --shadow-size: 1px;
}
.envelope-container-top {
  --shadow-size: 4px;
  z-index: 4;
}

/**
 * Open Envelope
 */

.open .envelope-container-top {
  --shadow-size: 0.5px;
  z-index: 1;
  transform: rotateX(180deg);
}

.envelope-top {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.envelope-container-top {
  transform-origin: top center;

  transition-property: transform, filter, z-index;
  transition-duration: var(--envelope-transition-duration);
  transition-timing-function: default, default, step-start;
  transition-delay: var(--envelope-transition-close-delay),
    var(--envelope-transition-close-delay),
    calc(var(--envelope-transition-close-delay));
}

.open .envelope-container-top {
  transition-delay: 0s, 0s, var(--envelope-transition-duration) * 0.3;
}

.envelope-top-backface {
  transform: rotateX(180deg) translateY(1px);
}

/**
 * Message
 */

.envelope-top,
.envelope-top-backface {
  color: var(--envelope-message-color);
  font-size: var(--envelope-message-font-size);
  text-align: center;
}

/*****************************************************************************\
 *                                LETTER                                     *
\*****************************************************************************/

.letter {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  z-index: 2;

  background: orange;
  filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));

  transition-property: transform, z-index;
  transition-duration: var(--letter-transition-up-duration), 0.1s;
  transition-timing-function: cubic-bezier(0.33, 0, 0.33, -1.5), step-start;
  transition-delay: var(--letter-transition-down-delay),
    calc(
      var(--letter-transition-down-delay) + 0.4 *
        var(--letter-transition-unfold-duration)
    );

  perspective: var(--perspective);
}

@media (max-width: 500px) or (max-height: 750px) {
  .letter {
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
  }
}

.open .letter {
  z-index: 5;

  transform: translateY(-75%);

  transition-timing-function: cubic-bezier(0.67, 2.5, 0.67, 1), step-start;
  transition-delay: var(--letter-transition-up-delay),
    calc(
      var(--letter-transition-up-delay) + 0.8 *
        var(--letter-transition-unfold-duration)
    );
}

.letter-top,
.letter-bottom,
.letter-bottom-backface {
  width: 100%;
  height: 100%;

  background: var(--letter-color);
}

/**
 * Open Letter
 */

.letter-bottom,
.letter-bottom-backface {
  transform-style: preserve-3d;
  backface-visibility: hidden;

  transition-property: transform;
  transition-duration: var(--letter-transition-unfold-duration);
}

.letter-bottom {
  transform-origin: top center;
  transform: rotateX(180deg);
}

.letter-bottom-backface {
  transform-origin: bottom center;
  transform: translateY(-200%);
}

.open .letter-bottom,
.open .letter-bottom-backface {
  transition-delay: var(--letter-transition-unfold-delay);
}

.open .letter-bottom {
  transform: none;
}

.open .letter-bottom-backface {
  transform: translateY(-200%) rotateX(-180deg);
}

/**
 * Letter contents
 */

.letter {
  color: var(--letter-text-color);
  font-size: 1.5rem;
  text-align: center;
}

.letter-contents {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 200%;
}
.letter-top,
.letter-bottom {
  overflow: hidden;
}
.letter-bottom .letter-contents {
  transform: translateY(-50%);
}

.letter-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************************************************************\
 *                                OTHER                                      *
\*****************************************************************************/

.flag {
  font-size: 5em;
  line-height: 0.7em;

  --background-square-size: 3em;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: var(--background-square-size) var(--background-square-size);

  animation: 3s infinite linear slide-background;
}

@keyframes slide-background {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: var(--background-square-size) 0;
  }
}

/* generated by ./scripts/build-gradieng-45deg-square.js */
.flag {
  background-image: linear-gradient(
    45deg,
    rgb(47, 201, 226) 0%,
    rgb(28, 127, 238) 5%,
    rgb(95, 21, 242) 10%,
    rgb(186, 12, 248) 15%,
    rgb(251, 7, 217) 20%,
    rgb(255, 0, 0) 25%,
    rgb(255, 154, 0) 30%,
    rgb(208, 222, 33) 35%,
    rgb(79, 220, 74) 40%,
    rgb(63, 218, 216) 45%,
    rgb(47, 201, 226) 50%,
    rgb(28, 127, 238) 55%,
    rgb(95, 21, 242) 60%,
    rgb(186, 12, 248) 65%,
    rgb(251, 7, 217) 70%,
    rgb(255, 0, 0) 75%,
    rgb(255, 154, 0) 80%,
    rgb(208, 222, 33) 85%,
    rgb(79, 220, 74) 90%,
    rgb(63, 218, 216) 95%,
    rgb(47, 201, 226) 100%
  );
}
.flag-trans {
  background-image: linear-gradient(
    45deg,
    #f9fbfc 0%,
    #f587ac 12.5%,
    #4fa5c2 25%,
    #f587ac 37.5%,
    #f9fbfc 50%,
    #f587ac 62.5%,
    #4fa5c2 75%,
    #f587ac 87.5%,
    #f9fbfc 100%
  );
}
