@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

:root {
  --envelope-color: white;
  --envelope-transition-duration: 1s;
  --envelope-max-width: 90vw;
  --envelope-max-height: 60vh;

  --envelope-aspect-ratio: 5 / 3;
  --envelope-width: min(
    var(--envelope-max-width),
    calc(var(--envelope-max-height) * var(--envelope-aspect-ratio))
  );

  --font-size: calc(var(--envelope-width) / 20);
  font-size: var(--font-size);

  --envelope-message-color: black;
  --envelope-message-font-size: 2rem;

  --letter-color: rgb(255, 245, 217);
  --letter-text-color: black;

  --dialog-color: var(--letter-color);
  --dialog-text-color: var(--letter-text-color);

  --language-picker-color: white;
  --language-picker-text-color: black;

  --letter-transition-up-duration: 0.8s;
  --letter-transition-up-delay: calc(
    var(--letter-transition-up-duration) * 0.3
  );

  --letter-transition-unfold-duration: 1s;
  --letter-transition-unfold-delay: calc(
    var(--letter-transition-up-delay) + var(--letter-transition-up-duration)
  );

  --letter-transition-down-delay: calc(
    var(--letter-transition-unfold-duration) * 0.3
  );

  --dialog-transition-duration: 0.8s;

  --envelope-transition-close-delay: calc(
    var(--letter-transition-down-delay) + var(--letter-transition-up-duration) *
      0.7
  );
}

html,
body,
.envelope-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

body {
  background-color: rgb(255, 132, 212);
  font-family: "Titan One", cursive;
  color: white;
  font-variant: small-caps;
}

/*****************************************************************************\
 *                               ENVELOPE                                    *
\*****************************************************************************/

.envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
  pointer-events: none;
}

.envelope {
  width: var(--envelope-width);
  aspect-ratio: var(--envelope-aspect-ratio);
  position: relative;

  cursor: pointer;
  pointer-events: all;

  --perspective: calc(4 * var(--envelope-width));
  perspective: var(--perspective);

  transform: translateY(20%);
}
#create:checked ~ * .envelope {
  /* Don't let close the envelope when the "create" dialog is out */
  pointer-events: none;
}

/**
 * Envelope parts
 */
.envelope-part,
.envelope-part-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.envelope-part-container {
  cursor: default;
  pointer-events: none;
}
.envelope-part {
  cursor: pointer;
  pointer-events: all;
}
#create:checked ~ * .envelope-part {
  /* Don't let close the envelope when the "create" dialog is out */
  pointer-events: none;
}

.envelope-part,
.envelope {
  background: var(--envelope-color);
}

.envelope-top {
  /* Firefox has a bug where while rotating it shows
     a thin white border in the clipped out part.
     This fixes it.
     https://stackoverflow.com/a/34715027/2359289
   */
  outline: 1px solid transparent;

  clip-path: url(#envelope-top-path);
}
.envelope-top-backface {
  outline: 1px solid transparent;
  clip-path: url(#envelope-top-rotated-path);
}
.envelope-bottom {
  clip-path: url(#envelope-bottom-path);
}
.envelope-left {
  clip-path: url(#envelope-left-path);
}
.envelope-right {
  clip-path: url(#envelope-right-path);
}

/**
  * Envelope Shadows
  */
.envelope-container,
.envelope-container-static,
.envelope-container-bottom,
.envelope-container-top {
  filter: drop-shadow(0px 0px var(--shadow-size) rgba(50, 50, 0, 0.5));
}
.envelope-container {
  --shadow-size: 10px;
}
.envelope-container-static {
  --shadow-size: 2px;
  z-index: 3;
}
.envelope-container-bottom {
  --shadow-size: 1px;
}
.envelope-container-top {
  --shadow-size: 4px;
  z-index: 4;
}

/**
 * Open Envelope
 */

.envelope-top {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.envelope-container-top {
  transform-origin: top center;

  transition-property: transform, filter, z-index;
  transition-duration: var(--envelope-transition-duration);
  transition-timing-function: default, default, step-start;
  transition-delay: var(--envelope-transition-close-delay);
}

#open:checked ~ * .envelope-container-top {
  --shadow-size: 0.5px;
  z-index: 1;
  transform: rotateX(180deg);
  transition-delay: 0s, 0s, var(--envelope-transition-duration) * 0.3;
}

.envelope-top-backface {
  transform: rotateX(180deg) translateY(1px);
}

/**
 * Message
 */

.envelope-top,
.envelope-top-backface {
  color: var(--envelope-message-color);
  font-size: var(--envelope-message-font-size);
  text-align: center;
}

/*****************************************************************************\
 *                                LETTER                                     *
\*****************************************************************************/

.letter {
  position: absolute;
  --margin: 10%;
  top: var(--margin);
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
  z-index: 2;

  cursor: default;
  filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));

  transition-property: transform, z-index;
  transition-duration: var(--letter-transition-up-duration), 1ms;
  transition-timing-function: cubic-bezier(0.33, 0, 0.33, -1.5), step-start;
  transition-delay: var(--letter-transition-down-delay),
    calc(
      var(--letter-transition-down-delay) + 0.4 *
        var(--letter-transition-up-duration)
    );

  perspective: var(--perspective);
}

@media (max-width: 500px) or (max-height: 750px) {
  .letter {
    --margin: 2%;
  }
}

#open:checked ~ * .letter {
  z-index: 5;

  transform: translateY(-75%);

  transition-timing-function: cubic-bezier(0.67, 2.5, 0.67, 1), step-start;
  transition-delay: var(--letter-transition-up-delay),
    calc(
      var(--letter-transition-up-delay) + 0.6 *
        var(--letter-transition-up-duration)
    );
}

.letter-top,
.letter-bottom,
.letter-bottom-backface {
  width: 100%;
  height: 100%;

  background: var(--letter-color);
}

/**
 * Open Letter
 */

.letter-bottom,
.letter-bottom-backface {
  transform-style: preserve-3d;
  backface-visibility: hidden;

  transition-property: transform;
  transition-duration: var(--letter-transition-unfold-duration);
}

.letter-bottom {
  transform-origin: top center;
  transform: rotateX(180deg);
}

.letter-bottom-backface {
  transform-origin: bottom center;
  transform: translateY(-200%);
}

#open:checked ~ * .letter-bottom,
#open:checked ~ * .letter-bottom-backface {
  transition-delay: var(--letter-transition-unfold-delay);
}

#open:checked ~ * .letter-bottom {
  transform: none;
}

#open:checked ~ * .letter-bottom-backface {
  transform: translateY(-200%) rotateX(-180deg);
}

/**
 * Letter contents
 */

.letter {
  color: var(--letter-text-color);
  font-size: 1.5rem;
  text-align: center;
}

.letter-contents {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 200%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.letter-top,
.letter-bottom {
  overflow: hidden;
}
.letter-bottom .letter-contents {
  transform: translateY(-50%);
}

.button-write-letter-container {
  margin: -0.5rem;
}

/*****************************************************************************\
 *                                FLAGS                                      *
\*****************************************************************************/

.flag {
  font-size: 5em;
  line-height: 0.7em;

  --background-square-size: 3em;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: var(--background-square-size) var(--background-square-size);

  animation: 3s infinite linear slide-background;
}

@keyframes slide-background {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: var(--background-square-size) 0;
  }
}

/* generated by ./scripts/build-gradieng-45deg-square.js */
.flag {
  /* prettier-ignore */
  background-image: linear-gradient(45deg, rgb(47, 201, 226) 0%, rgb(28, 127, 238) 5%, rgb(95, 21, 242) 10%, rgb(186, 12, 248) 15%, rgb(251, 7, 217) 20%, rgb(255, 0, 0) 25%, rgb(255, 154, 0) 30%, rgb(208, 222, 33) 35%, rgb(79, 220, 74) 40%, rgb(63, 218, 216) 45%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 55%, rgb(95, 21, 242) 60%, rgb(186, 12, 248) 65%, rgb(251, 7, 217) 70%, rgb(255, 0, 0) 75%, rgb(255, 154, 0) 80%, rgb(208, 222, 33) 85%, rgb(79, 220, 74) 90%, rgb(63, 218, 216) 95%, rgb(47, 201, 226) 100%)
}

.flag-bi {
  /* prettier-ignore */
  background-image: linear-gradient(45deg, #d60270 0%, #0038a8 12.5%, #d60270 25%, #0038a8 37.5%, #d60270 50%, #0038a8 62.5%, #d60270 75%, #0038a8 87.5%, #d60270 100%)
}

.flag-trans {
  /* prettier-ignore */
  background-image: linear-gradient(45deg, #f9fbfc 0%, #f587ac 12.5%, #4fa5c2 25%, #f587ac 37.5%, #f9fbfc 50%, #f587ac 62.5%, #4fa5c2 75%, #f587ac 87.5%, #f9fbfc 100%)
}

.flag-lesbian {
  /* prettier-ignore */
  background-image: linear-gradient(45deg, #ffffff 0%, #d162a4 7%, #b55690 14.5%, #a30262 21.5%, #bc1831 25%, #d52d00 28.5%, #ef7627 35.5%, #ff9a56 43%, #ffffff 50%, #d162a4 57%, #b55690 64.5%, #a30262 71.5%, #bc1831 75%, #d52d00 78.5%, #ef7627 85.5%, #ff9a56 93%, #ffffff 100%)
}

.flag-ace {
  /* prettier-ignore */
  background-image: linear-gradient(45deg, white 0%, #800080 12.5%, black 25%, #a3a3a3 37.5%, white 50%, #800080 62.5%, black 75%, #a3a3a3 87.5%, white 100%)
}

.flag-straight {
  background-image: none;
  color: saddlebrown;
}

/*****************************************************************************\
 *                                DIALOG                                     *
\*****************************************************************************/

.dialog {
  position: absolute;
  top: 5%;
  bottom: 20%;
  left: 5%;
  right: 5%;
  z-index: 2;

  pointer-events: none;
  cursor: default;
  filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));

  transform: translate(-98%, 0%) rotate(180deg);
  transform-origin: 99% 0%;

  transition-property: transform, z-index;
  transition-duration: calc(var(--dialog-transition-duration) * 0.7), 1ms;
  transition-timing-function: linear, step-start;

  transition-delay: 0s, calc(var(--dialog-transition-duration) * 0.3);
}

#create:checked ~ * .dialog {
  z-index: 5;
  transform: translate(-98%, -20%);

  transition-delay: calc(var(--dialog-transition-duration) * 0.2),
    calc(var(--dialog-transition-duration) * 0.5);
}

.dialog-animation-helper-vertical {
  width: 100%;
  height: 100%;
  transform: translateY(-98%);

  transition-property: transform;
  transition-duration: calc(var(--dialog-transition-duration) * 0.3);
  transition-timing-function: ease-in;

  transition-delay: calc(var(--dialog-transition-duration) * 0.7);
}

#create:checked ~ * .dialog-animation-helper-vertical {
  transform: translateY(20%);

  transition-delay: 0s;
}

.dialog-animation-helper-horizontal {
  width: 100%;
  height: 100%;
  transform: none;

  transition-property: transform;
  transition-duration: calc(var(--dialog-transition-duration) * 0.4);
  transition-timing-function: ease-out;

  transition-delay: 0s;
}

#create:checked ~ * .dialog-animation-helper-horizontal {
  transform: translateX(100%);

  transition-delay: calc(var(--dialog-transition-duration) * 0.4);
}

/**
 * Dialog contents
 */

.dialog-contents {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  color: var(--dialog-text-color);
  background-color: var(--dialog-color);

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1rem;
}

.dialog-contents input {
  background-color: transparent;
  border: none;
}

.dialog-contents input[type="text"] {
  border-bottom: 1px solid var(--dialog-text-color);

  font-size: 0.9rem;
  font-family: cursive;
  text-align: center;
}

#create:checked ~ * .dialog-contents input,
#create:checked ~ * .dialog-contents label,
#create:checked ~ * .dialog-contents .button {
  pointer-events: all;
}

.dialog-submit {
  text-align: right;
}

.dialog-label {
  grid-column: 1;
}
.dialog-input {
  grid-column: 2;
}
.dialog-row-1 {
  grid-row: 1;
}
.dialog-row-2 {
  grid-row: 2;
}

/*****************************************************************************\
 *                                OTHER                                      *
\*****************************************************************************/

.control {
  display: none;
}

.button {
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-family: inherit;
  font-variant: inherit;
}
.button:hover {
  text-decoration-style: solid;
}

.link-me {
  font-size: 0.5rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 0;
}
@media (max-width: 500px) or (max-height: 750px) {
  .link-me {
    font-size: 0.8rem;
  }
}

.language-picker {
  --size: 1rem;

  position: fixed;
  top: 0.5rem;
  right: 0.5rem;

  display: flex;
  gap: calc(var(--size) * 0.5);

  filter: drop-shadow(0px 0px 4px rgba(50, 50, 0, 0.5));
}
@media (max-width: 500px) or (max-height: 750px) {
  .language-picker {
    --size: 2rem;
  }
}

.language-picker > * {
  display: block;
  width: var(--size);
  height: var(--size);

  font-size: calc(var(--size) * 0.6);
  line-height: calc(var(--size) * 0.8);
  text-align: center;

  background-color: var(--language-picker-color);
  color: var(--language-picker-text-color);

  border-radius: calc(var(--size) * 0.2);
}
